global:
  scrape_interval: 10s
  scrape_timeout: 10s
scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - homechef-ops-prometheus:9090
  - job_name: node
    static_configs:
      - targets:
          - homechef-ops-prometheus-node-exporter:9100

